body{
  margin: 0;
  background-color:#EEEEEE;
}

#company{
  background-color:#a70000;
  padding: 3px;
  padding-bottom: 7px;
}

#nav{
  background-color: #c80000;
  width: 100%; 
}

#nav a{
  text-decoration: none;
  width: -10px; 
  color: white;
}


h1 {
  margin-top: 10px;
  margin-bottom: 10px; 
  line-height: 1; 
  text-align: center;
  color:white;
}

h3 {
  margin-top: 5px; 
  margin-bottom: 5px; 
  line-height: 1;
  text-align: center;
  color:white;
}

#nav ul {
  list-style-type: none;
  text-align: center;
  padding:0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0;
}

#nav li {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2.6%;
  padding-left: 2.6%;
}

#nav li:hover{
  background-color: white;
}

#nav li a {
  text-decoration: none;
  color: white;
  font-size: 100%;
}

#nav li:hover a {
  color: #a70000;
}

#content{
  background-color: white;
  width:50%;
  margin-left:24%;
  margin-right:24%;
  margin-top:2%;
  border: 5px solid #a70000;
  border-radius: 10px;
  padding: 25px 20px;
  padding-left: 35px;
  
}
#content form {
  text-align: left;
  margin-left: 10%;
  font-weight: bold;
}
#content form a{
  font-weight:normal;
  text-decoration: none;
}
#content h2 {
  margin-top: 2px;
}
#content input, input[type=date], select{
  width: 35%;
  height:20px;
}
#content input[type=submit] {
  height:30px;
  background-color:#BB1919;
  color: white;
  width:100px;
  border-color:#380d0d ;
  border-radius: 8px;
  cursor: pointer;
}
#content input[type=reset] {
  height:30px;
  margin-left:60%;
  background-color:rgb(216, 216, 216);
  width:100px;
  border-color:#a3a3a3 ;
  border-radius: 8px;
  cursor: pointer;
}
#content input[type=submit]:hover{
  background-color: #790000 ;
  color: #EEEEEE;
}
#content input[type=reset]:hover{
  background-color:  #a7a7a7;
  color:black;
}
#content input:hover, input[type=date]:hover, select:hover{
 background-color: #f8f8f8;
}

#top{
  background-color: #ff5252;
  padding: 5px;
}

#top p{
  margin:0;
  color:white;
  font-weight: bolder;
}

#fill{
  margin-bottom:20%;
  padding:40px;
  display: flex;
  gap: 20px;
  height: 90px;
  overflow: auto;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
}
table td{
  padding: 2px;
  text-align: center;
}
table{
margin-left: -3.5%;
 width: 105%;
 border:black solid;
 font-size:14px;
 
}
table a{
  text-decoration: none;
  color:black;
  font-weight: bold;
}