html{ margin: 0; padding: 0;}
body{
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: white;
}
.banner {
    width: 100%;
    height: 100vh;
}
.navebar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: white;
}

.logo {
    cursor: pointer;
    margin-left: 15px;
    width:auto;
    height:100px;
}

.navebar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
   /*padding: 0 20px; */
    position: relative; 

}

.navebar ul li a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
}

.navebar ul li::after{
    content: '';
    height: 2px;
    width: 0; /*100% */
    background: grey;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navebar ul li:hover::after {
    width: 100%;
}
.container{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content {
    width: 60%;
    font-family: 'Raleway', sans-serif;
    color: #332d56;
    margin:auto;
    text-align: center;
}

.content h1 {
    text-transform: uppercase;
    font-size: 75px;
    margin-top: 80px;
    color: #332d56;
    font-family: 'Raleway', sans-serif;
}
.content p {
    margin: 20px auto 0 20px;
    font-weight: 100;
    line-height: 25px;
    font-size: 25px;
    color: #332d56;
    font-family: 'Raleway', sans-serif;
}


button {
    width: 150px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 5px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color:  black;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    margin-top: 50px;
    
}

span {
    text-align: center;
    background: grey;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}
.background{
    width: 350px;
    height: 445px;
    background-image: url("new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    
}
#second-submenu{
    height: 24px;
    width: 98%;
    margin-top: 20px;
    margin-left: 50px;
}
#third-submenu{
   height: 24px;
    width: 98%;
    text-align: right;
}
#menu a, #second-submenu a, #third-submenu a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size:20px;
}
#menu a:hover, #second-submenu a:hover, #third-submenu a:hover{
    text-decoration: none;
    color: #115959;
    font-weight: bold;
}
#content{
    width: 96%;
    padding: 8px;
    min-height: 680px;
    margin: 4px auto;

}
#subcontent{
    width: 98%;
    padding: 4px;
}
.move-right{
    float: right;
    margin-top: 5px;
    color: white;
    margin-right: 20px;
}
/* FORM */
.input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color:#A4891B;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #695512;
}

#form-block {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    width: 80%;
    margin: 0 auto;

}
#form-block #form-block-half{
    width: 45%;
    float: left;
    padding: 20px;
}
#button-block{
    width: 95%;
    padding: 20px;
    text-align: right;
}
/** end */

#data-list {
  border-collapse: collapse;
  width: 100%;
}

#data-list td, #data-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-list tr:nth-child(even){background-color: #f2f2f2;}

#data-list tr:hover {background-color: #ddd;}

#data-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#login-block{
  width: 30%;
  height: 325px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #EDEDED;
  padding: 40px;
}
#login-block img{
     margin-left:120px;
    margin-right: 120px;
    width:auto;
    height:100px;
}
#brand-block {
  width: 40%;
  height: 100px;
  margin: 0 auto;
  padding:10px;
  font-size: 18px; 
  text-transform: uppercase;
  color: #332d56;
  font-family: 'Raleway', sans-serif;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#error_notif {
  background-color: #fefefe;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
    height: 20px;
  z-index: 999999999;
}