body {
    margin:0;
    background-color:white;
}
#container{
    width: 1200px;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    align-content: center;
    background-color:#6BD4D8;
}
.bg{
    width: 1200px;
    height: 400px;
    background-color:#424242;
 
}
.navbar{
    width: 1200px;
    height: 80px;
}
.navbar h2{
    float: left;
    margin-left: 50px;
    color: white;

}
.navbar a{
    margin-top: 25px;
    margin-left: 390px;
    margin-right: -290px;
    float: left;
    color: white;
    text-decoration: none;
}
.navbar button {
    border: 3px double #2E2E2E;
    border-radius: 10px;
    background-color:white; 
    color: black;
    width:auto;
    margin-left:250px; 
    margin-top: 25px;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.features img{
   margin-top: 210px;
    background-color: white;
    margin-left: 10px;
      border-radius: 12px ;
}
.features img:hover{
    background-color: #B580FA;
    border-radius: 12px ;
    color: #FFF2CA;
    border: 4px  #FFF2CA;
    transform: scale(1.1);
   

}

.content{
    height: 1000px;
}
