html{ margin: 0; padding: 0;}
body{
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #041F20;
}
#container{
    width: 1300px;
    height: 800px;
    margin: auto;
    align-content: center;
    background-color:#649D9D;
    padding: 0;
}
#header{
    height: 80px;
    background-color:#083B3D;
 
}
.navbar{
    width: 1300px;
    height: 80px;
}
.navbar h2{
    float: left;
    margin-left: 60px;
    color: white;

}
.navbar a{
    margin-top: 25px;
    margin-left: 465px;
    margin-right: -400px;
    float: left;
      color:#C7F4F6; 
    text-decoration: none;
} 
.navbar span{
    float:right;
    padding: 4px 15px;
    border: 3px double #2E2E2E;
    border-radius: 50px;
    background-color:#69A8A8; 
    margin-top: -5px;
    margin-left: -20px;
    color: black;
    height:auto;
    width:auto;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
     font-weight: bold;
}
.navbar span:hover{
    border: 3px double #9BD6D8;
    background-color: #326264;
     color:#C7F4F6; 
}
#second-submenu{
    height: 24px;
    width: 98%;
}
#third-submenu{
   height: 24px;
    width: 98%;
    text-align: right;
}
#menu a, #second-submenu a, #third-submenu a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size:20px;
}
#menu a:hover, #second-submenu a:hover, #third-submenu a:hover{
    text-decoration: none;
    color: #115959;
    font-weight: bold;
}
#content{
    width: 96%;
    padding: 8px;
    min-height: 680px;
    margin: 4px auto;

}
#subcontent{
    width: 98%;
    padding: 4px;
}

/* FORM */
.input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#form-block {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    width: 80%;
    margin: 0 auto;

}
#form-block #form-block-half{
    width: 45%;
    float: left;
    padding: 20px;
}
#button-block{
    width: 95%;
    padding: 20px;
    text-align: right;
}
/** end */

#data-list {
  border-collapse: collapse;
  width: 100%;
}

#data-list td, #data-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-list tr:nth-child(even){background-color: #f2f2f2;}

#data-list tr:hover {background-color: #ddd;}

#data-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
} 
